    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Coming Soon</h2>
                    <p>Be sure to visit us when we're up and running. In the meantime, visit our blog right below</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Oretachi Blog</a>
                </div>
            </div>
        </div>
    </section>
